body {
    margin: 1em;
    font-family: "DejaVu Serif", "Times", serif;
    font-size: 16px;
    line-height: 1.6em;
}

.keyword {
    color: #0077c3;
}

a {
    color: #4d4d4d;
}

.step > .keyword {
    display: inline-block;
    text-align: right;
    width: 4em;
}

.feature, .scenario, .examples {
    padding: 1em 0;
    margin: 1em 0;
}

.scenario, .description, .steps, .examples {
    margin-left: 1em;
}

.title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 1em;
}

.feature, .scenario {
    border-top: 1px solid #ccc;
}

.description {
    max-width: 47em;
}

.table-argument, .pystring-argument, .example-table {
    margin: 1em 0 1em 2em;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
table td {
    border: 1px solid #ccc;
    padding: 0.3em 0.7em;
}
